<h1>Edit Perbelanjaan Lain: <%= @expense.e_category%></h1>

<%= render 'form' %>

<%= link_to 'Show', expense_expense_transaction_path(@expense, @expense_transaction) %> |
<%= link_to 'Back', @expense %>
