<h1>Soalan Lazim</h1>

<h4>1. Apakah perbezaan antara bahan mentah, barang jualan dan perbelanjaan lain?</h4>
<h5 class="answer">Jawapan: bahan mentah adalah bahan digunakan untuk menyiapkan barang siap. Barang jualan adalah barang yang telah siap diproses untuk dijual. Perbelanjaan lain adalah perbelanjaan yang tidak berkaitan dengan bahan mentah dan barang jualan contohnya sewa dan bil air </h5><br>

<h4>2. Bagaimana untuk mengubah nama dan unit bahan?</h4>
<h5 class="answer">Jawapan: untuk mengubah butiran bahan boleh dilakukan di butang edit yang terletak di dalam halaman setiap bahan</h5><br>

<h4>3. Bagaimana untuk mengubah transaksi barang keluar dan masuk?</h4>
<h5 class="answer">Jawapan: Transaksi tidah boleh diubah tetapi boleh dibuang dengan menekan butang delete yang terdapat di hujung senarai</h5><br>

<h4>4. Bagaimanakan cara pengiraan untung dilakukan</h4>
<h5 class="answer">Cara pengiraan untung dilkakukan dengan mengambil kira duit masuk dan keluar. duit masuk adalah daripada keluar barang jualan. duit keluar adalah daripada pertambahan bahan mentah dan perbelanjaan lain</h5><br>

<h4>5. Apakah perbezaan antara dua graf?</h4>
<h5 class="answer">Jawapan: Untung bersih = duit masuk jualan - duit keluar bahan mentah - duit keluar perbelanjaan lain</h5>
<h5 class="answer">Untung tidak termasuk perbelanjaan lain adalah untung daripada hasil jualan barang siap tolak dengan kos bahan mentah</h5>