<div id="topdiv">
<div class="container-fluid center">
	<div class="row">

			<h3>Pengurusan Inventori</h3>
			<p class="lead">Kami Mudahkan Untuk Anda</p>
			<%= link_to dashboard_index_path do%>
				<button class="btn btn-primary">
					Mulakan Sekarang
				</button>
			<%end%>

	</div>
</div>
</div>

<div id="what">
	<div class="container-fluid center">
		<div class="row">
			<h1>Apa itu MyInventori?</h1>
			<p class="lead">MyInventori adalah pengurusan inventori atau stok yang sesuain untuk perniagaan kecil-kecilan samada persendirian atau perkongsian. MyInventori mengadungi 3 komponen utama iaitu bahan mentah, barang jualan dan perbelanjaan lain.</p>
		</div>
	</div>	
</div>
<div id="why">
	<div class="container-fluid center">
		<h1>Kenapa Memilih MyInventori</h1>
		<div class="row">
			<div class="col-sm-4">
				<h2><i class="fa fa-thumbs-up"></i>  Mudah</h2>
				<p>
					Mengatur dan mengesan keluar masuk invenotri anda daripada proses pembuatan sehingga produk siap
				</p>
			</div>
			<div class="col-sm-4">
				<h2><i class="fa fa-bar-chart"></i> Visualisasi</h2>
				<p>
					Kami menyediakan analisis graf bagi untung dan rugi yang membantu anda untuk membuat keputusan dalam perniagaan
					
				</p>
			</div>
			<div class="col-sm-4">
				<h2><i class="fa fa-usd"></i>  Pembayaran</h2>
				<p>
					Usah risau! MyInventori adalah percuma bagi setiap akaun yang didaftarkan,
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid center">
	<h1>Jangan teragak-agak. Daftar dan uruskan inventori anda sekarang dengan lebih cekap</h1>
    <%= link_to dashboard_index_path do%>
    	<button class="btn btn-success">Daftar</button>
    <%end%>    
</div>
		
	


<div id="testimoni">
	<div class="container-fluid text-center">
		<h1>Apa kata pelanggan kami:</h1>
		<div id="myCarousel" class="carousel slide " data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
	  		<div class="carousel-inner" role="listbox">
	    		<div class="item active">	
	      			<h3>"Pengurusan inventori saya menjadi lebih mudah"<br><span style="font-style:normal;">Mus Jo, Klang</span></h3>

	    		</div>

	    		<div class="item">
	    	
	      			<h3>"saya dapat melihat untung secara graf yang membantu menunjukkan prestasi perniagaan saya"<br><span style="font-style:normal;">Hazim, Pelajar UTP</span></h3>
	    		</div>

	    		<div class="item">
	      			<h3>"mudah dan senang digunakan"<br><span style="font-style:normal;">Fasihah, Penang</span></h3>
	    		</div>

	  		</div>
		</div>
	</div>
</div>


<script>
var myCenter = new google.maps.LatLng(4.356077, 100.993887);

function initialize() {
var mapProp = {
center:myCenter,
zoom:16,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script>
	var Landingheight = $(window).height() * 60/100;
    $(".contentContainer").css("min-height",Landingheight);
</script>
