<h1>Untung Bulanan</h1>
<h3>Untung Bersih</h3>
<%= column_chart Profit.group_by_month(:p_date).sum(:p_profit), xtitle: "Bulan", ytitle: "Untung" %>

<h3>Untung tidak termasuk perbelanjaan Lain</h3>
<%= column_chart Profit.group_by_month(:r_date).sum(:r_profit), xtitle: "Bulan", ytitle: "Untung"  %>