<h3>Untung Bersih Setiap Bulan</h3>
<%= line_chart Profit.group_by_week(:p_date).sum(:p_profit), xtitle: "Bulan", ytitle: "Untung" %>

<h3>Untung tidak termasuk perbelanjaan Lain</h3>
<%= line_chart Profit.group_by_week(:r_date).sum(:r_profit), xtitle: "Bulan", ytitle: "Untung"  %>



