// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
#topdiv{
	background-image: url("landing-inventory.jpg");
	width: 100%;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 100px;
    text-align: center;
    h1{
    	font-size: 3em;
    	color: $gray-darker;
    }
    p{
    	color: $gray-darker;
    }
}

.navbar{
	margin-bottom: 0;
}

#what{
	text-align:center;
	padding: 40px 0 30px 0;
	background-color: #5bc0de;
}
.center{
	text-align:center;
}
#why{
	padding: 10px 0 30px 30px;
}
#testimoni{
	background-color: #1abc9c; /* Green */
	margin: 15px 0 0 0;

}
.item {
	height: 150px;
	h3{
		font-size: 25px;
		line-height: 1.37em;
		font-weight: 400;
		font-style: italic;
		margin: 30px 0 70px 0; 
	}
	img{
		margin: 0 0 70px 300px;
		height: 10px;
	}
}

.content {
	margin: 0 0 0 11px;
}

#contact{
	margin: 0 0 30px 0;
}

.logo{
	margin-top: -15px;
}

.rent{
	margin-top:10px;
}

#white{
	color: #fffffff;
	font-size: 60px;
}

#carpage{
	margin: 80px 0 0 0;
	text-allign: center;
}
.cardetail{
	text-align: left;
	li{
		list-style:none;
		font-size: 1.2em;
	}

}
#how{
	background-color: #8C489F;
	padding: 40px 0 20px 0;
}

#collaboration{
	padding: 40px 0 20px 0;
}

.box {
	background-color: #f2dede;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}

.box {
	background-color: #f2dede;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}
.box2 {
	background-color: #d9edf7;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}

